<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <label>Become a server: <input type="text" id="serverId" placeholder="server id"></label><button
        id="serverSend">odeslat</button>
    <script>
        document.querySelector("#serverSend").addEventListener("click", () => {
            window.location.href = window.location.href + document.querySelector("#serverId").value + '?server=true'
        })

    </script>


</body>

</html>